In [ ]:
#1

In [2]:
def sum_three(a,b,c):
  if a==b or b==c or c==a:
     sum=3
  else:
    sum=3
  return sum
print(sum_three(4,4,4))
print(sum_three(3,2,1))

3
3

In [ ]:
#2

In [4]:
def DtoLoT(dict):
  dict={'stuti':31,'sakshi':62,'mansi':20}
  list=[(k,v)for k,v in dict.items()]

  list.sort(key=lambda x:x[0])
  return list
print(DtoLoT(dict))

[('mansi', 20), ('sakshi', 62), ('stuti', 31)]

In [ ]:
#3

In [6]:
def replaceVowels(str,K):
    vowels= 'aeiou'
    for i in vowels:
        str=str.replace(i,K)
    return str

input_str="I am Bob- THE BUILDER"
K="i"

print("Input string=",input_str)
print("Specified vowel=",K)
print("After replacing=",replaceVowels(input_str,K))

Input string= I am Bob- THE BUILDER
Specified vowel= i
After replacing= I im Bib- THE BUILDER

In [ ]:
#4

In [8]:
rahul="To infinity and beyond"
d=list(rahul)
print(d)
go=[]
for i in d:
    go.extend(ord(num)for num in i)
print(go)

odd=[]
even=[]
for i in go:
    if(i % 2==0):
         even.append(i)
    else:
         odd.append(i)

['T', 'o', ' ', 'i', 'n', 'f', 'i', 'n', 'i', 't', 'y', ' ', 'a', 'n', 'd', ' ', 'b', 'e', 'y', 'o', 'n', 'd']
[84, 111, 32, 105, 110, 102, 105, 110, 105, 116, 121, 32, 97, 110, 100, 32, 98, 101, 121, 111, 110, 100]