section A 1

In [2]:
print("hello python")

hello python

2

In [ ]:
a=int(input("Enter the 1st number="))
b=int(input("Enter the 2nd number="))
Add=a+b
Div=a/b
print("Addition of 1st and 2nd number",Add)
print("Division of 1st and 2nd number",Div)

In [ ]:
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

In [ ]:
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

In [ ]:
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

#section 2

In [ ]:
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

In [ ]:
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

In [ ]:
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

In [ ]:
import calendar
yyyy=int(input("Enter the year (yyyy):"))
mm=int(input("Enter the month (mm): "))
print(calendar.month(yyyy, mm))

In [ ]:
x = int(input("Enter the X value:"))
y = int(input("Enter the Y value:"))
x,y=y,x
print("X=",x)
print("Y=",y)

#section c

In [ ]:
num=int(input("Enter the value:"))
if num>0:
  print("Number is positive")
elif num<0:
  print("Number is negative")
else:
 print("Number is zero")

In [ ]:
num=int(input("Enter the value="))
if num%2==0:
  print("The number is Even")
else:
  print("The number is Odd")

#section d

In [ ]:
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

In [ ]:
num = int(input("Display multiplication table of? "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [ ]:
nterm=int (input("Enter the terms to be printed:"))
n1=1
count=0
if nterm<=0:
  print("Please enter a positive integer, the given number is not valid")
elif nterm==1:
  print ("The Fibonacci sequence of the number upto:",nterm, ":")
  print (n1)
else:
    print ("The Fibonacci sequence of the number is:")
while count <nterm:
  print (n1)
  nth=n1+n2
  n1=n2
  n2=nth 
  count +=1

In [ ]:
num=int(input("Enter the natural number:"))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

#section f

In [ ]:
Numeric= [12, 8, 9, 2, 5]
sum=sum(Numericlist)
print(list)
print("sum of list: ",sum)

In [ ]:
print(list)
smallest=min(list)
print("Smallest number in the list",smallest)